@font-face {
    font-family: HelveticaBold;
    src: url("HelveticaBold.otf");
}
@font-face {
    font-family: MyGaramond;
    src: url("AGaramondPro-Regular.otf");
}
@font-face { font-family: Iosevka;
    src: url("iosevka.ttf");
}
@font-face {
    font-family: Inconsolata-dz;
    src: url("Inconsolata-dz.otf");
}
@font-face {
    font-family: Proxima;
    src: url("Proxima.otf");
}
@font-face {
    font-family: Georgia;
    src: url("georgia.otf");
}
@font-face {
    font-family: Mononoki;
    src: url("mononoki.ttf");
}
#Helvetica {
    font-family: "HelveticaBold";
}
#Mononoki {
    font-family: "Mononoki";
}
#Garamond {
    font-family: "MyGaramond";
}
#RobotoLight {
    font-family: "Roboto";
    font-weight: 100;
}
#Roboto {
    font-family: "Roboto";
    font-weight: 500;
}
#Inconsolata-dz {
    font-family: "Inconsolata-dz";
}
#Proxima {
    font-family: "Proxima";
}
#Georgia {
    font-family: "Georgia";
}
#Iosevka {
    font-family: "Iosevka";
}
a {
    fill: #383847;
}
a:hover {
    fill: #64908A;
}
#body {
  background-color: #383847;
  color: #64908A;
}
html, body {
  background-color: #383847;
  color: #64908A;
 }
 h1 {
   font-size: 150px;
   margin: 5%;
 }
 .littleHint {
   position: absolute;
   bottom: 0;
   right: 0;
   color: #E8CAA4;
   margin: 5%;
   font-size: 20px;
 }
 .bottom-align-text {
  position: absolute;
  bottom: 5vh;
  right: 5vw;
}

#clock {
fill: #64908A;
display: block;
margin: auto;
}
#face { stroke-width: 0px;}
/* clock face outline */
#ticks { stroke-width: 0.3px; stroke: #E8CAA4; fill: #E8CAA4; }
/* lines that mark each hour */
#hourhand {
font-family: Helvetica; font-size: 4.5px; stroke-width: 0.2px; 
stroke: #E8CAA4; fill: #E8CAA4;
}
