@font-face {
    font-family: Helvetica;
    src: url("fonts/HelveticaBold.otf");
}
html, body {
    background-color: #64908A;
    color: #383847
}
#adam {
    font-family: Helvetica;
    font-size: 150px;
    margin: 0%;
    margin-top: 5%;
    margin-left: 5%;
    display:inline-block;
}
#adam:hover {
    color: rgb(181, 151, 424);
}
#ross {
    font-family: Helvetica;
    font-size: 150px;
    margin: 0%;
    margin-left: 5%;
    display:inline-block;
}
#ross:hover {
    color: rgb(181, 151, 424);
}
#kerc {
    font-family: Helvetica;
    font-size: 150px;
    margin: 0%;
    margin-left: 5%;
    display:inline-block;
}
#kerc:hover {
    color: rgb(181, 151, 424);
}
a {
    color: inherit;
    text-decoration: inherit;
}
#other {
    font-family: Helvetica;
    font-size: 50px;
    margin: 0%;
    margin-top: 5%;
    margin-left: 5%;
    display:inline-block;
}
#other:hover {
    color: rgb(181, 151, 424);
}
